<!-- <div id="wrapfooter">
	
</div>
-->

	</td>
</tr>

<tr>
    <td class="footerrow">
        <div id="wrapfooter">
          <table>
          <tr>
          <td>
          <img src="{T_THEME_PATH}/images/site_footer.gif" alt="footer"/>
          </td>
          
          <td>          
            <!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
            <!--
            <div class="copyright">
            Powered by <a href="http://www.phpbb.com/">phpBB</a> &copy; phpBB Group.
            <br />sietf template by trooper
            -->
            <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
            <!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
          </td>
          
          </tr>
          </table>
        </div>
    </td>
</tr>

</table>

</body>
</html>