<!-- $Id: welcome.html,v 1.2 2007/08/08 04:50:13 angelside Exp $ //-->
<!-- only phpbb3portal.com version -->

<div class="forabg" align="center">
<span class="corners-top"><span></span></span>
<h4 class="welcome"><span>{L_WELCOME}</span></h4>
	<br /><br /><br />
    <p>{PORTAL_WELCOME_INTRO}</p>
<span class="corners-bottom"><span></span></span>
</div>

<!--		<span class="corners-top"><span></span></span>
			<h3>{L_WELCOME}</h3>
			{PORTAL_WELCOME_INTRO}
		<span class="corners-bottom"><span></span></span>
	</div>
</div>-->
<br />
<br style="clear:both" />


<!-- only phpbb3portal.com
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>
		<div align="center">
			<img src="_portal_images/phpbbportal_logo.png" alt="phpBB3 Portal" />
		</div>
		<br />
		<span style="float:left;"></span>
		<span style="float:right;padding-right:10px;" class="gensmall">
			<small>Available languages:</small>
			<img src="_portal_images/flag/tr.png" alt="Turkish" />
			<img src="_portal_images/flag/gb.png" alt="English" />
			<img src="_portal_images/flag/fr.png" alt="French" />
			<img src="_portal_images/flag/de.png" alt="German" />
			<img src="_portal_images/flag/pt.png" alt="Português, Brasil" />
			<img src="_portal_images/flag/dk.png" alt="Danish" />
			<img src="_portal_images/flag/es.png" alt="Spanish, Galician" />
			<img src="_portal_images/flag/nl.png" alt="Dutch" />
			<img src="_portal_images/flag/pl.png" alt="Polish" />
			<img src="_portal_images/flag/cz.png" alt="Czech" />
			&nbsp;
		</span>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
//-->



<!-- only phpbb3portal.com
<div class="panel">
	<div class="inner">
		<span class="corners-top"><span></span></span>

		<h3>What is phpBB3 Portal?</h3>
		<div class="content">
		phpBB3 Portal is a simple and powerful portal for phpBB3 Olympus
		<br /><br />
			phpBB3 Portal a.k.a canverPortal which is a simple portal add-on/modification for phpBB3 Olympus. It's easy to use and improvable. Portal which is based on phpBB3 Olympus and improved by <a href="http://www.phpbb3portal.com" class="postlink">phpBB3 Portal</a> with sponsored by <a href="http://www.canversoft.net" class="postlink" rel="nofollow">Canver Software</a>. XHTML and UTF8 characters sets are used in the files as in the phpBB3 version.<br /><br />
		</div>

		<h3>What is currently in phpBB3 Portal?</h3>
		<div class="content">
			phpBB3 Portal is still very basic and will be that way until around version 0.0.6a, the current list of features for version 1.0.3-beta is as follows (blocks and features).<br /><br />
			<ul>
				<li>Main menu (not dynamic)</li>
				<li>Login / User menu</li>
				<li>News (news forum id configurable via config.php)</li>
				<li>Recent announcment (char limiter features)</li>
				<li>Recent popular topic (char limiter features)</li>
				<li>Recent topic (char limiter features)</li>
				<li>Poll (poll forum id configurable via config.php)</li>
				<li>Welcome (manual edit from templates)</li>
				<li>Search (post search, author search and includes few search engines)</li>
				<li>Make donation</li>
				<li>Latest members</li>
				<li>Random member</li>
				<li>Most poster</li>
				<li>Link us</li><li>Links (manual edit from templates)</li>
				<li>Last x visited bots (adaptation on nedka's mod)</li>
				<li>The team</li>
				<li>Who is online</li>
				<li>Statistics</li>
				<li>Flash clock</li>
				<li>+ More</li>
				<li><a href="http://www.phpbb3portal.com/viewforum.php?f=35" class="postlink">+ Suggest feature, idea</a></li>
			</ul>
			So what can be expected in future versions<br /><br />
		</div>

		<h3>Simple configuration</h3>
		<div class="content">
			All configuration is manual via <span style="font-style: italic">bb3portal/config.php</span> file. Block add and drop is manual, bb3portal.php and template files...<br /><br />
		</div>

		<h3>Languages</h3>
		<div class="content">
			phpBB3 Portal is have follows language package:<br /><br />
			<ul>
				<li>Turkish, English, French, German, Português, Brasil, Danish, Spanish, Galician, Dutch, Polish, Czech
				<li><a href="http://www.phpbb3portal.com/viewforum.php?f=33" class="postlink">+ Add your language</a></li>
			</ul>
		</div>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
//-->