<!-- $Id: whois_online.html,v 1.2 2007/08/08 04:50:13 angelside Exp $ //-->
<div id="block_small_top" align="center">
	<div class="s_block_left"></div>
    <div class="s_block_right"></div>
	<span style="color:#5f83c8; font-size:12px">{L_WHO_IS_ONLINE}</span>
</div>
<div class="block_small_bg">
        <font style="color:#4583c4">
			<span style="float:left;">{L_WIO_REGISTERED}:</span><span style="float:right;padding-right:10px;">{VISIBLE_ONLINE}</span><br />
			<span style="float:left;">{L_WIO_HIDDEN}:</span><span style="float:right;padding-right:10px;">{HIDDEN_ONLINE}</span><br />
			<span style="float:left;">{L_WIO_GUEST}:</span><span style="float:right;padding-right:10px;">{GUEST_ONLINE}</span><br /><br />
            <hr width="95%"/>
			<span style="float:left;">{L_WIO_TOTAL}:</span><span style="float:right;padding-right:10px;">{TOTAL_ONLINE_USERS}</span><br /><br /></font>
			<small style="color:#4583c4">
            	{LOGGED_IN_USER_LIST}<br /><br />
				<br />{RECORD_USERS}<br />
				<!-- IF LEGEND --><br />
				{L_LEGEND} :: {LEGEND}
				<!-- ENDIF -->
			</small>
</div>
<div id="block_small_bottom">
	<div class="s_block_left_b"></div>
    <div class="s_block_right_b"></div>
</div>
<br style="clear:both" />