<!-- $Id: news.html,v 1.2 2007/08/08 04:50:13 angelside Exp $ //-->
<!--<h3>{L_LATEST_NEWS}</h3>-->

<div class="forabg">
<span class="corners-top"><span></span></span>
<h4 class="latest-ann"><span>{L_LATEST_NEWS}</span></h4><br />
<!-- BEGIN news_row -->
<!-- IF news_row.S_NO_TOPICS -->
	<center><span class="gensmall"><strong>{L_NO_NEWS}</strong></span></center>
<!-- ELSE -->
<div id="ppr{news_row.POST_ID}" class="post <!-- IF news_row.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
<span class="corners-top-p"><span></span></span>
		<h4 class="first">{news_row.ATTACH_ICON_IMG}<!-- IF news_row.S_POLL --> <strong>{L_POLL}: </strong><!-- ENDIF --><a href="{news_row.U_VIEW_COMMENTS}"><strong style="padding-left:10px">{news_row.TITLE}</strong></a></h4>
			by <strong><a href="{news_row.U_USER_PROFILE}">{news_row.POSTER}</a> @ {news_row.TIME}</strong>
			<!-- <li class="rightside">{news_row.TIME}</li> -->
    <br />
    <br />
		<p class="content">{news_row.TEXT}</p> <br /><br />
		<span>{L_TOPIC_VIEWS}: {news_row.TOPIC_VIEWS} &nbsp;&bull;&nbsp; <a href="{news_row.U_VIEW_COMMENTS}" title="{L_VIEW_COMMENTS}">{L_COMMENTS}: {news_row.REPLIES}</a> &nbsp;&bull;&nbsp; <a href="{news_row.U_POST_COMMENT}">{L_POST_REPLY}</a></span>
<span class="corners-bottom-p"><span></span></span>
</div>
<!-- ENDIF -->
<!-- IF news_row.S_NOT_LAST --><!--<br />--><!-- ENDIF -->
<!-- END news_row -->
<span class="corners-bottom"><span></span></span>
</div>