<!-- $Id: whois_online.html,v 1.2 2007/08/08 04:50:13 angelside Exp $ //-->
<div class="forabg">
<span class="corners-top"><span></span></span>
<a href="http://www.sietf.org/viewonline.php"><h4 class="whoisonline"><span>{L_WHO_IS_ONLINE}</span></h4><br /></a>
			<span class="span-left">{L_WIO_REGISTERED}:</span><span class="span-right">{VISIBLE_ONLINE}</span><br />
			<span class="span-left">{L_WIO_HIDDEN}:</span><span class="span-right">{HIDDEN_ONLINE}</span><br />
			<span class="span-left">{L_WIO_GUEST}:</span><span class="span-right">{GUEST_ONLINE}</span><br /><br />
            <hr width="95%"/>
			<span class="span-left">{L_WIO_TOTAL}:</span><span class="span-right">{TOTAL_ONLINE_USERS}</span><br /><br />
			<small class="small-olist">
            	{LOGGED_IN_USER_LIST}<br /><br />
				<br />{RECORD_USERS}<br />
				<!-- IF LEGEND --><br />
				{L_LEGEND} :: {LEGEND}
				<!-- ENDIF -->
			</small>
<span class="corners-bottom"><span></span></span>
</div>